@import "../../styles/mixin";
.content{
    width:100%;
    
    display: flex;
    flex-direction: row;
    min-height: 100%;
   
}
.users
{
    width:16%;
    height: auto !important;
    margin-left:-16%;
    transition: margin 0.2s ease-in;
    position: relative;
    
    @include respond-to("lg")
    {
        width:23%;
        margin-left:-23%
    }
    @include respond-to("md")
    {
        width:30%;
        margin-left:-30%
    }
    @include respond-to("xs")
    {
        display: none;
    }
}

.router
{
   margin-top:0px;
    width:84%;
    transition: width 0.2s ease-in;
    @include respond-to("xs")
    {
        width:100%;
     
    }
    transition: all 0.2s ease-in;
}
.full
{
    margin-top: 65px;
    width:100%;
    transition: all 0.2s ease-in;
}
.active
{
    margin-left:0%;
    transition: margin 0.2s ease-in;
   
}