
<div class="list-container">
    <div class="list-category" *ngFor="let category of allCategories" >
    <span *ngIf="exists[category]" >Lists for {{category}}</span>
    <ul>
      <ng-container *ngFor="let list of allLists[category]" >
        <li >
            <div class="header">
                <div class="likesSelf">
                    <img src="../../../assets/like.png" >
                     Likes: {{list.likes}} 
                </div>
                <img class="cartImg" src="../../../assets/cart.png">
              </div>
          
        <div class="mainContent">
          <div class="title">{{list.name}}</div>
          <div class="description">{{list.description.slice(0, 500)+(list.description.length>500?'...':'')}}</div>
          <div class="likesSelf">
              <img src="../../../assets/like.png" >
               Likes: {{list.likes}} 
          </div>
          
       <ul >
            <li *ngFor="let item of list.items | slice:0:3">{{item}} </li>
        </ul>
        </div>
        <div class="btn" [routerLink]="['/viewFullList', list.id]">view list</div>
      </li>
    </ng-container>
    </ul>
  </div>
   
  </div>