
<div class="list-container">
    <span>Lists I currently use</span>
    <mat-form-field >
        <input matInput  placeholder="serach" type="text" [(ngModel)]="ser">                      
    </mat-form-field>
    <div class="list-category" *ngFor="let category of allCategories" >
    <span *ngIf="exists[category]" >Lists for {{category}}</span>
    <ul>
      <ng-container *ngFor="let list of allLists[category] | search:ser" >
        <li >
            <div class="header">
             
                <div class="likesSelf">
                    <img src="../../../assets/like.png" >
                     Likes: {{list.likes}} 
                </div>
                <img class="cartImg cartImgActive" (click)="delActive(list)" src="../../../assets/cart.png">
                <mat-progress-bar color="primary" mode="determinate"  [value]="list.progres">   </mat-progress-bar>
              </div>
            
        <div class="mainContent">
          <div class="title">{{list.name}}</div>
          <div class="description">{{list.description.slice(0, 500)+(list.description.length>500?'...':'')}}</div>
          <div class="likesSelf">
              <img src="../../../assets/like.png" >
               Likes: {{list.likes}} 
          </div>
          
       <ul >
            <li *ngFor="let item of list.items | slice:0:3">{{item}} </li>
        </ul>
        </div>
        <div class="btn" [routerLink]="['/isUse', list.id]" routerLinkActive="active">view list</div>
      </li>
    </ng-container>
    </ul>
  </div>
   
  </div>