<div class="navbar">
  <div class="always-on">
  <div class="logo">
      <img src="../../../assets/logo.png">
      <h1>The buy list</h1>
  </div>
  <div class="burger" (mousedown)="switchMenu()"><img src="../../../assets/nav.png"> </div>

</div>
  <nav [ngClass]="[showMenu == true ?  'active' : '']">
    <ul>
      <li  [matMenuTriggerFor]="submenuList" *ngIf="loggedinUser.username != ''">Listele mele</li>
      <li [routerLink]="['']">All lists</li>
      <li [routerLink]="['/popular']">Popular lists</li>
      <li [routerLink]="['/latest']">Last lists</li>
      <li *ngIf="loggedinUser.username != ''" [routerLink]="['/add']" >Create a new list</li>
      <li (click)="openModal()"  *ngIf="loggedinUser.username == ''">Log in / Register</li>
      <li *ngIf="loggedinUser.username != ''" [matMenuTriggerFor]="submenuAccount">{{loggedinUser.name}}</li>
    </ul>
  </nav>
 
</div>
<mat-menu class="sub-menu" #submenuList="matMenu">
  <button mat-menu-item [routerLink]="['mine']">Created by me</button>
  <button mat-menu-item [routerLink]="['active']">Active lists</button>
</mat-menu>

<mat-menu class="sub-menu" #submenuAccount="matMenu">
  <button mat-menu-item [routerLink]="['']">Modify accoount data</button>
  <button mat-menu-item [routerLink]="['']" (mousedown)="logOut()">LogOut</button>
 
</mat-menu>