@import "../../styles/mixin";
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .opt
    {
        margin-top: 20px;

        display: flex;
        
        background: $secondary-color;
        
        align-items: center;
        
        padding: 25px;
        
        border-radius: 20px;
        
        margin-bottom: 0;
        
        width: 50%;
        @include respond-to("md")
        {
            width:75%;
        }
       
        justify-content: center;
        
        .addlist{
            width:400px;
            height:60px;
        }
        .addItem
        {
             min-width:100px;
             height:35px;
             margin-left:20px;
           
        }
        .full-width
        {
            border-radius: 5px;
        }
        select{
            width:150px;
        }
        mat-form-field{
            margin: 0;
            width:100%;
            margin-bottom: -20px;

            
        }
        .itemAdd{
            width: calc(100% - 120px);
            @include respond-to('xs')
            {width: 100%;}
        }
        
       
        
    }     
    .items{
        
        &-up
            {
                display: flex;
                flex-wrap: wrap;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px; 
            }
        &-down
            {
                padding-top: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top:0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            
        }
        .item{
            background: $main-color;
            border-radius: 10px;
            padding: 10px;
            color:$text-color;
            margin:2px;
        }
}
mat-form-field .appearance-outline .mat-form-field-outline {
    color: white;
  }