<div class="container">
    <div class="opt" style="flex-direction: column">
       
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="newList.category">
               <ng-container *ngFor="let category of allCategories">
                  <mat-option [value]="category">{{category}} List</mat-option>
               </ng-container>              
                
                <mat-option value="new">New Category</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="newList.category == 'new'">
              <mat-label>New category name </mat-label>              
              <input matInput required [(ngModel)]="newCategory" type="text" placeholder="category name">
            </mat-form-field>
      </div>
      
      <div class="opt">
      
        <mat-form-field appearance="outline">
            <mat-label> Public or private list?  </mat-label>
            <mat-select required [(ngModel)]="newList.visibility">
              <mat-option value="public">Public list</mat-option>
              <mat-option value="private">Private list</mat-option>
      
          </mat-select>
          
      </mat-form-field>
    </div>
      <div class="opt">
      
        <mat-form-field appearance="outline">
            <mat-label>Name of the list </mat-label>
           <input matInput required [(ngModel)]="newList.name" type="text" placeholder="name" class="form-control" id="name" name="name">
          
      </mat-form-field>
    </div> 
    
    <div class="opt">
        
          
          <mat-form-field class="full-width">
              <textarea matInput [(ngModel)]="newList.description" placeholder="Any description that can help you later?:"></textarea>
            </mat-form-field>
     </div> 
     <div class="opt items-up">
          <mat-form-field class="itemAdd" appearance="outline">
          <mat-label>Item </mat-label>
           <input matInput [(ngModel)]="newItem" (keyup.enter)="addItem()" type="text" placeholder="name" class="form-control" id="name" name="name">
          </mat-form-field>
          
          <div class="btn addItem" (mousedown)="addItem()">Add item</div>        
        
     </div>       
     <div class="opt items-down" >
        <div class="item" *ngFor="let item of newList.items; let i = index" (click)='delete(i)'>{{item}}</div>
    </div> 
     <div class="opt">
     <div class="btn addlist" (mousedown)="uploadList()">Add List</div>
      </div>  
</div>