
<div class="list-container">
  <span>Liste pentru mancare</span>
  <ul>
    <li>
      <div class="title">dasd</div>
      <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae fuga iste excepturi dolorum quibusdam sit, deserunt sequi incidunt quaerat? Animi perspiciatis quas qui et magnam facilis debitis nesciunt distinctio quibusdam.</div>
      <div class="likes">
          <img src="../../../assets/like.png">
          Likes: 2345
          
      </div>
      <ul >
        <li class="firstItems">item1</li>
        <li>item2</li>
        <li>item3</li>
      </ul>
      <div class="btn">view list</div>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <span>Liste pentru pc</span>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>