
<div class="list-container">
  <span>Popular lists</span>
  <ul>
    <ng-container  *ngFor="let list of Lists" >
      <li *ngIf="list.owner == loggedInUser.username || list.visibility == 'public' ">
          <div class="header">
              <div [ngClass]="[list.owner == loggedInUser.username ?  'likesSelf' : 'likes']">
                  <img src="../../../assets/like.png" (mousedown)="addLike(list.id)">
                  Likes: {{list.likes}}          
              </div>
              <img [ngClass]="[list.active == true ?  'cartImg cartImgActive' : 'cartImg']"  (mousedown)="addDelActive(list.id)"  src="../../../assets/cart.png">
            </div>
         
      <div class="mainContent">
        <div class="category">Category: {{list.category}}</div>
        <div class="title">{{list.name}}</div>
        <div class="description">{{list.description.slice(0, 500)+(list.description.length>500?'...':'')}}</div>
        
      <ul >
          <li *ngFor="let item of list.items | slice:0:3">{{i}} {{item}}</li>
      </ul>
      </div>
      <div class="btn" [routerLink]="['/viewFullList', list.id]">view list</div>
    </li>
  </ng-container>
  </ul>
  
</div>