@import "../../styles/mixin";

.users
{
    height: 100%;
    
    background: $secondary-color;
    .block
    {
        
        padding: 10px 0px 10px 0px;
        color: $text-color;
        height: 39px;
        background:$secondary-color;
        width:100%;
        border-radius: 0px;
        transition: all 0.2s ease-in;
        text-align: center;
    }
    .extended{
        width: calc(100% + 180px);
        border-bottom-right-radius: 50px;
        transition: all 0.2s ease-in;
        text-align: left;
    }
    ul{
       
        li{
            display: flex;
            justify-content: space-between;
            background: $main-color;
            padding: 20px;
            color: $text-color;
            margin-top: 15px;
            font-family: 'Playfair Display', serif;
            
            .newMessages{
                display: flex;

                width: 20%;
                
                flex-direction: row-reverse;
            }
            
        }
        .self{
          margin-top: 0px;
        }
        .dc{
            background: dimgray;
        }
    };
}
