<div class="users" (mouseleave)="showExtension(true)" (mouseenter)="showExtension(false)">
    <div  [ngClass]="[checked == false && extension==true ?  'block extended' : 'block']"  >
        Block user pannel? 
        <input type="checkbox" (mousedown)="change()" checked>
    </div> 
<ul>
  <li class="self" *ngIf="currentUser.name != ''">{{currentUser.name}}</li>
  <ng-container *ngFor="let user of allUsers; let i = index;">

   <li *ngIf="user.connected==true" (click)=" openDialog(user)">{{user.name}} 
        <div class="newMessages" *ngIf="unseen[i] &&  unseen[i]!=0 && currentUser.username != ''" >
          <i class="material-icons">chat_bubble_outline</i>
          {{ unseen[i] }}
          </div>

    </li>


    <li *ngIf="user.connected==false" class="dc" (click)=" openDialog(user)">{{user.name}} 
        <div class="newMessages" *ngIf="unseen[i] && unseen[i]!=0 && currentUser.username != ''">
          <i class="material-icons">chat_bubble_outline</i>
          {{ unseen[i] }}
        </div>
    </li>

  </ng-container>
    

</ul>
</div>
